.gamelist__container {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.gamelist__date {
    padding-left: 60px;
}
.gamelist__container2 {
  background-color: #8d1c3d;
  border-radius: 8px;
  width: 90%;
  align-self: center;
  justify-self: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
